body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

a:hover{
    cursor: pointer;
}

a{
    border: none;
    text-decoration: none;
    color: black;
}


.imgbox{
    position: relative;
    text-align: center;
    background-color: aqua;
}

.menu{
    width: 100%;
    text-align: center;
}

.border{
    padding: 3vh 0 3vh 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin: 0 2vw 0 2vw;
    background-color: rgb(248, 248, 248);
    transform: translate(0, -5vh);
}

.text-logo{
    position: absolute;
    z-index: 2;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    color: aliceblue;
    font-style: oblique;
    font-size: 10vw;
}

#photo1{
    max-width: 100%;
    margin: auto;
}

.content-text{
    text-align: justify;
    font-size: 20px;
    padding: 2vw 5vw 2vw 5vw;
    margin-bottom: 2vh;
}

.gallery-img{
    width: 100%;
    height: 100%;
}

.gallery{
    display: grid;
    margin: 0vh 10vw 0 10vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat((2, 1fr));
    background-color: aqua;
}

.gallery a{
    position: relative;
    transition: box-shadow 0.1s, transform 0.1s;
}

mini-logo a:hover{
    transform: scale(1.05);
    z-index: 3;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.gallery h4{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: pink;
    background-color: white;
    mix-blend-mode: lighten;
    padding: 0 10px 0 10px;
    font-style: oblique;
    font-weight: bolder;
    font-size: 35px;
    transition: transform 0.1s;
}

.gallery h4:hover{
    transform: translate(5px);
}


header{
    position: fixed;
    display: grid;
    align-items: center;
    background-color: white;
    z-index: 99;
    grid-template-columns: 80% 10% 10%;
    width: 100%;
    height: 5vh;
}

header a{
    background-color: rgba(0, 0, 0, 0);
    width: 10vw;
    padding-left: 2vw;
    border: none;
    font-size: 18px;
    font-weight: bold;
    transition: font-size 0.1s;
}

footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 30% 30%;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10vh;
    padding: 1vh 0 5vh 0;
    margin: 5vh 0 0 0;
    background-color: rgb(235, 235, 235);
}

footer a{
    background-color: rgba(0, 0, 0, 0);
    width: 10vw;
    border: none;
    font-size: 15px;
    transition: font-size 0.1s;
}

.mini-logo{
    font-style: oblique;
    font-weight: bolder;
    font-size: 22px;
}

.mini-logo:hover{
    font-size: 24px;
}

/*Botão para voltar ao início*/
#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
}

#back-to-top a {
}

